* {
    margin: 0;
    padding: 0;
  
  }
  
  body {
    font-family: 'Anton', sans-serif;
    background-color: black;
  }
  
  /* HEADER */
  
  header {
    height: 8vh;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 5ch;
    border-bottom: 8px solid greenyellow;
    
    animation: blackandwhite 4s linear infinite alternate;
    z-index: 2;
  }
  
  @keyframes blackandwhite {
    0% {
      background-color: black;
      color: rgb(0, 255, 0);
    }
  
    40% {
      color:rgb(0, 255, 0);
    }
  
    50% {
      color: black;
    }
  
    100% {
      background-color: rgb(0, 255, 0);
      color: black;
    }
  }
  .song{
    position: relative;
    top: 0.2rem;
    left: 0rem;
    width: 6rem;
    height: 6rem;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 1;
    background-color: rgb(250, 6, 254);
    animation: slideUp 3s;
  }

 .sym {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    animation:blackandwhite 4s linear infinite alternate;
  
  }
 .sym .img1 {
    margin: 0;
    height: 4%;
    width: 5%;
    margin-left:2REM ;
    /* animation:  move 7s linear infinite alternate; */
    /* animation: fadein 2s; */
  }.sym .img2{
    height: 4%;
    width: 5%;
    margin-right: 2rem;
  }
  
.sym h3 {
    /* text-orientation: upright;
    writing-mode: vertical-lr; */
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    letter-spacing: 30px;
   
    /* animation:  move 7s linear infinite alternate; */
}
@keyframes move {
    0%{
        transform: translateX(-30vw);
    }
    100%{
        transform: translate(30vw);
    }
    
}


/* .im1{
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    backdrop-filter:blur(5px);
} */
/* .im2{
    width: 80%;
   
    positio
    height: 80%;n: relative;
    top: 10%;
    left: 10%;
   z-index: 1;
} */
.box{
  background-image: linear-gradient(rgb(7, 232, 7),black);
  padding-top: 1.5rem;
  width: 100%;
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  justify-content: space-evenly;
  row-gap: 3em;  


}

.item{
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  display: flex;
}
.item:hover .overlay{
  height: 60%
}
.item:hover{
  transform: translateY(-20px);
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(4, 237, 51, 0.693);
  opacity: 0.8;
  overflow:hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
}

.layer h2{

  font-weight:400;
  font-size:20px;
  color: rgb(12, 9, 4);
}
.layer{
  opacity: 3;
  width: 100%;
  height: 100%;   
  position: absolute;
  justify-content: center;
  align-items:start;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s;

}

img{
  width: 25rem;
  height: 15rem;
  border-radius: 5px;
  filter:drop-shadow(10px 10px 10px)
}
@media only screen and (max-width: 600px){

  .t1{
      font-size: 15px;
      text-align: center;
  }
  .t2{
      font-size: 40px;
  }
  .container{
      display: flex;
      flex-direction: column;
  }
  img{
      width: 300px;
  }
  .t3{
      font-size:15px;
  }
  .layer h3{
      font-size:25px;
  }

}
@media only screen and (max-width:1013px){
  .sym h3{
    font-size: 1.4rem;
    letter-spacing: 22px;
  }
}
@media only screen and (max-width:752px){
  .sym h3{
    font-size: 1.1rem;
    letter-spacing: 18px;
  }
}
@media only screen and (max-width:600px){
  .sym h3{
    font-size: 1.1rem;
    letter-spacing: 10px;
  }
}
@media only screen and (max-width:470px){
  .sym h3{
    font-size: 1.0rem;
    letter-spacing: 2px;
  }
  .sym .img2{
    margin-right: 0.8rem;
  }
  .sym .img1{
    margin-left: 0.8rem;
  }
}
footer{
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem;
  color: greenyellow;
}


 /* ***************************************** SLIDER ********************************************** */

 .bg{

  background-image: linear-gradient(black,rgb(7, 244, 7));
  background-repeat: no-repeat;
  background-size: cover;
backdrop-filter: blur(5px);
}
 .imgslider{
  width: 60%;
  height: 60%;
  background-image: url(images/cannonbolt.png);
  background-size: 100% 100%;
  animation:changeimage 15s linear infinite alternate-reverse;
  display: grid;
  place-items: center;
  width: 80%;
   
  position: relative;
  height: 75vh;
    top: 10%;
    left: 10%;
   z-index: 1;
 }
 @keyframes changeimage {
  0%{background-image: url(images/cannonbolt.png);}
  20%{background-image: url(images/dimondhead.png);}
  35%{background-image: url(images/dimondhead.png);}
  40%{background-image: url(images/fourarms.png);}
  55%{background-image: url(images/fourarms.png);}
  60%{background-image: url(images/humangasaur.png);}
  75%{background-image: url(images/humangasaur.png);}
  80%{background-image: url(images/swampfire.png);}
  95%{background-image: url(images/swampfire.png);}
  100%{background-image: url(images/bigchill.png);}
  
 }
 /* ****************************** LOADER ********************************** */

 #loader {
  border: 12px solid greenyellow;
  border-radius: 50%;
  border-top: 12px solid #444444;
  background-color: black;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, rgb(3, 96, 3) 30%, rgb(5, 239, 5) 70%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00ff04; 
}